.work-together {
	border: solid 3px yellow;
	border-radius: 2px;
	font-size: 1.35em;
	margin: 0 auto 0 auto;
	padding: 10px;
	font-family: sans-serif;
	color: white;
	width: 500px;
	padding: 20px;
}
.work-together:hover {
	background-color: yellow;
	color: white;
}
